.parent {
  display: grid;
  background: white;
  color: rgb(0, 0, 0);
  height: 90vh;
  gap: 1rem;

  grid-template-areas:
    "i1 i1 i1"
    "i2 i2 i2"
    "i3 i3 i4"
    "i3 i3 i5"
    "i6 i9 i9"
    "i7 i9 i9"
    "i8 i9 i9"
    "i10 i10 i10";
}
.parent > div {
  display: grid;
  justify-content: center;
  align-items: center;
}

.item-1 {
  grid-area: i1;
  margin: 1rem 0rem;
  background-color: aqua;
}
.item-2 {
  grid-area: i2;
  background-color: blueviolet;
}
.item-3 {
  grid-area: i3;
  background: linear-gradient(to right, red, orange, yellow 50%);
}
.item-4 {
  grid-area: i4;
  background-color: chartreuse;
}
.item-5 {
  grid-area: i5;
  background-color: chocolate;
}
.item-6 {
  grid-area: i6;
  background-color: cornflowerblue;
}
.item-7 {
  grid-area: i7;
  background-color: crimson;
}
.item-8 {
  grid-area: i8;
  background-color: darkolivegreen;
}
.item-9 {
  grid-area: i9;
  background: radial-gradient(blue 50%, purple, pink);
}
.item-10 {
  grid-area: i10;
  background-color: goldenrod;
}

@media (max-width: 992px) {
  .parent {
    grid-template-areas:
      "i1 i1 "
      "i2 i2 "
      "i3 i3 "
      "i3 i3"
      "i4 i5"
      "i6 i6"
      "i9 i9"
      "i9 i9"
      "i7 i8"
      "i10 i10";
  }
}
@media (max-width: 542px) {
  .parent {
    grid-template-areas:
      "i1"
      "i2"
      "i3"
      "i3"
      "i3"
      "i3"
      "i4 "
      "i5"
      "i6"
      "i9"
      "i9"
      "i9"
      "i8"
      "i7"
      "i10";
  }
}
